.DS_Store
.env
.env.backup
.env.example
.git
.gitattributes
.github
.gitignore
.idea
.vscode/
node_modules/
npm-debug.log
public/hot
public/storage
storage/*.key
storage/framework/
storage/logs/
vendor/